/* ------------------- Kratiseis css -------------------- */
.ypomnima-labels-wrapper {
	border-top: 2px solid #e3e6eb;
	padding-top: 0.857em;
}


.ypomnima-square {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.ypomnima-square.green {	background-color: #0fbe6c; }
.ypomnima-square.red { background-color: #c2433c; }


.diastimata-container {
	/* width: 100%; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	/* grid-auto-rows: 75px; */
	grid-auto-rows: auto;
	grid-gap: 10px;
  }

.ypodomes-container {
	/* width: 100%; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	/* grid-auto-rows: 75px; */
	grid-auto-rows: auto;
	grid-gap: 16px 10px;
  }

.domes-ypodomi-btn {
	white-space: normal!important;
}

.eg-panel-success .p-panel .p-panel-header {
    background: var(--success) !important;
}
.eg-panel-danger .p-panel .p-panel-header {
    background: var(--danger) !important;
}
.eg-panel-warning .p-panel .p-panel-header {
    background: var(--warning) !important;
}
.eg-panel-secondary .p-panel .p-panel-header {
    background: var(--secondary) !important;
}

.eg-panel-success .eg-status-badge {
	color: white;
    background: var(--success) !important;
}
.eg-panel-danger .eg-status-badge {
	color: white;
    background: var(--danger) !important;
}
.eg-panel-warning .eg-status-badge {
	color: white;
    background: var(--warning) !important;
}


.eg-ypodomi-badge {
    position: absolute !important;
    top: -16px !important;
    right: -10px !important;
    width: 40px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.eg-diastima-badge {
    position: absolute !important;
    top: -16px !important;
    right: -10px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}


.eg-dropdown-white-space-normal .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup,
.eg-dropdown-white-space-normal .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
	white-space: normal !important;
}

/* ----------------------------------------------------------- */

/* ----------------Ypodomes Diathesimotites css -------------- */
.eg-imeres-diathesimotitas-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-auto-rows: auto;
		grid-gap: 5px;
}
/* ----------------------------------------------------------- */
