/* NOTIFICATIONS STYLE */

.notgroup-container {
	display: flex;
	align-items: center;
	color: #333;
	text-decoration: none;
	padding: 10px 15px;
}

.card-body {
	padding: 10px 15px;
}

.p-accordion-header-link:hover, .p-accordion-header-link:active, .p-accordion-header-link:focus {
	text-decoration: none;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link,
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
	background: #dbdbdb;
	border-color: #dbdbdb;
	color: #333333;
}

.notgroup-title {
	margin-left: 20px;
}

.notgroup-title h4 {
	margin: 0;
	font-size: 20px;
}

.notgroup-title span {
	font-weight: 200;
	font-size: 16px;
}

.extra-info {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 16px;
}

.descr {
	font-size: 16px;
}

.arrow {
	margin-left: auto;
}

.switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}

.slider {
	position: relative;
	display: inline-block;
	height: 8px;
	width: 32px;
	border-radius: 24px;
	cursor: pointer;
	background: #c5c5c5;
	transition: all .2s ease;
	margin: 0;
}

.slider:after {
	background: #eeeeee;
	position: absolute;
	left: -8px;
	top: calc((8px - 24px) / 2);
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	box-shadow: 0px 2px 2px #000;
	content: '';
	transition: all .2s ease;
}

.switch label {
	color: #333;
	font-size: 16px;
	margin: 0;
	display: flex;
	align-items: center;
}

.switch label i {
	font-size: 20px;
	margin-right: 10px;
}

.switch .input {
	display: none;
}

.switch .input:checked ~ .slider:after {
	left: calc(32px - 24px + 8px);
}

.switch .input:checked ~ .slider:after {
	background: #1c1378;
}

/* .p-accordion-tab {
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.single-notif:first-of-type {
	margin-top: 15px;
} */

.has-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.has-switch .switch {
	margin-top: 0;
}

.has-switch .switch .label {
	margin-right: 10px;
}
/* END NOTIFICATIONS STYLE */

.eidopoiiseis-table .p-datatable-thead > tr > th {
	font-size: 16px;
}

.eidopoiiseis-table .p-datatable .p-datatable-tbody > tr > td {
	font-size: 14px;
}

.eidopoiiseis-table .p-datatable-scrollable-footer-box {
	font-size: 14px;
}

.eidopoiiseis-table .p-datatable-scrollable-header-box,
.eidopoiiseis-table .p-datatable-scrollable-footer-box {
	padding: 0 !important;
}

.eidopoiiseis-table .file-download {
	padding: 5px 10px;
	background-color: #1c1378;
	color: white;
	border-radius: 6px;
}

.eidopoiiseis-table .file-download:hover, .eidopoiiseis-table .file-download:active, .eidopoiiseis-table .file-download:focus {
	cursor: pointer;
}

.eidopoiiseis-table .text-center {
	text-align: center !important;
}

.eidopoiiseis-modal .p-dialog .p-dialog-header .p-dialog-title {
	font-size: 18px;
}

.eidopoiiseis-modal .p-dialog-header-close-icon {
	font-size: 18px;
	color: black;
}

.episinaptomena {
	display: flex;
	flex-flow: column;
	font-size: 16px;
}

.episinaptomeno {
	display: inline-flex;
	align-items: center;
	background-color: #d3d6be;
	width: max-content;
	padding: 5px 10px;
	border-radius: 6px;
	margin-top: 5px;
}

.episinaptomeno i {
	margin-right: 10px;
}


.episinaptomeno:hover, episinaptomeno:active, .episinaptomeno:focus {
	cursor: pointer;
}

.eidopoiiseis-table .p-paginator {
	display: flex;
	flex-flow: row nowrap;
}

.eidopoiiseis-table .p-paginator-pages {
	display: flex;
}

.eidopoiiseis-table .p-paginator-icon {
	color: black;
}